// #region Overrides

:root[theme=g100]
{
	color-scheme: dark;
	// Adjust other blue colors as needed
	--cds-interactive-01: hsl(96, 78%, 27%);
	--cds-interactive-04: hsl(218, 100%, 64%);
	--cds-link-01: hsl(96, 100%, 74%);
	--cds-inverse-link: hsl(219, 99%, 53%);
	--cds-inverse-focus-ui: hsl(219, 99%, 53%);
	--cds-hover-primary: hsl(96, 74%, 33%);
	--cds-active-primary: hsl(96, 72%, 29%);
	--cds-hover-primary-text: hsl(96, 100%, 83%);
	--cds-highlight: hsl(223, 100%, 31%);
	--cds-brand-01: hsl(219, 99%, 53%);
	--cds-background-brand: hsl(96, 78%, 27%);
}

#main-content.bx--content
{
	background: none;
}

// #endregion
